<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <p>published: {{post.published_date}}</p>
            <h1><a href="">{{post.title}}</a></h1>
            <p>{{post.text|linebreaksbr}}</p>
          </div>
        {% endfor %}

    </body>
</html>


<!-- <h1>Um título</h1> - para o título mais importante
<h2>Um sub-título</h2> para um título um nível abaixo
<h3>Um sub-sub-título</h3> ... e por aí vai, até <h6>
<em>texto</em> enfatiza seu texto
<strong>text</strong> enfatiza fortemente seu texto
<br /> pula para a próxima linha (você não pode colocar nada dentro de br)
<a href="https://djangogirls.org">link</a> cria um link
<ul><li>primeiro item</li><li>segundo item</li></ul> cria uma lista, exatamente como essa!
<div></div> define uma seção da página -->
